# Warning: For automatic run of test in Gitlab CI, we must not include other things that pytest-homeassistant-custom-component
-r requirements_dev.txt
aiodiscover
ulid_transform
pytest
coverage
pytest-asyncio
pytest-homeassistant-custom-component
# Remove this when incompatibility is resolved:
aiodns==3.5.0
pycares==4.11.0