name: Pull actions

on:
  pull_request:

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: Validate
    steps:
      - uses: "actions/checkout@v4"

      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "integration"
          ignore: brands

      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@master"

  style:
    runs-on: "ubuntu-latest"
    name: Check style formatting
    steps:
      - uses: "actions/checkout@v4"
      - uses: "actions/setup-python@v5"
        with:
          python-version: "3.13"
      - run: python3 -m pip install "black>=24.0,<25.0"
      - run: black --check .

  tests:
    # Tests don't run in Gitlab ci environment
    if: false
    runs-on: "ubuntu-latest"
    name: Run tests
    steps:
      - name: Check out code from GitHub
        uses: "actions/checkout@v4"
      - name: Setup Python
        uses: "actions/setup-python@v5"
        with:
          python-version: "3.13"
      - name: Install requirements
        run: cd custom_components/versatile_thermostat && python3 -m pip install -r requirements_test.txt
      - name: Run tests
        run: |
          cd custom_components/versatile_thermostat && pytest \
            -qq \
            --timeout=9 \
            --durations=10 \
            -n auto \
            --cov custom_components.integration_blueprint \
            -o console_output_style=count \
            -p no:sugar \
            tests
