name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  testu:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip3 install -r requirements_test.txt

      - name: Run Tests
        run: |
          pytest \
            -qq \
            --timeout=9 \
            --durations=10 \
            -n auto \
            -o console_output_style=count \
            -p no:sugar \
            tests

      - name: Coverage
        run: |
          coverage run -m pytest tests/
          coverage report
          coverage html
